<div class="header-container">
    <div class="top-header">
        <div class="top-menu">
            <div class="social">
                <ul>
                    <li><a href="https://github.com/4rchann" target="_blank" rel="noopener noreferrer"><iconify-icon icon="mdi:github" width="28" height="28"></iconify-icon></a></li>
                    <li><a href="https://discord.com/users/293248628913471488" target="_blank" rel="noopener noreferrer"><iconify-icon icon="ic:round-discord" width="28" height="28"></iconify-icon></a></li>
                    <li><a href="https://www.linkedin.com/in/archan0426/" target="_blank" rel="noopener noreferrer"><iconify-icon icon="mdi:linkedin" width="28" height="28"></iconify-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-header">
            <div class="logo">
                <img src="./assets/images/camera-icon.png" alt="Starlight Studio Logo">
                <h1 class="logo-text">Starlight Studio!</h1>
            </div>
            <div class="menu" aria-label="Main navigation">
                <ul>
                    <li><a href="./index.html" id="menu-home">Home</a></li>
                    <li><a href="./faq.html" id="menu-faq">FAQ</a></li>
                    <li><a href="./layouts-picker.html" id="menu-layout">Choose a Layout</a></li>
                    <li><a href="./about.html" id="menu-about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
